<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizUP | About</title>
</head>

<body>
    {%extends "base.html"%}
    
    {% block content %}
    
    <h1>ABOUT</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dignissimos eius sint cum velit. Accusamus possimus
        reprehenderit ducimus est at nisi necessitatibus? Totam sunt recusandae ad praesentium dolorem libero amet.</p>


    {%endblock%}
    
    </body>
</html> 